
.header{ padding: 5px 0; background: #fff; box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1); position: fixed; top:0; width: 100%; left: 0; z-index: 100;}
.header + .contentPlus{ margin-top: 95px;}
.menus{ float: right; margin: 30px 0 0;}
.menus ul{ list-style: none; margin: 0; padding: 0;}
.menus ul li{ display: inline-block; padding: 0 15px;}
.menus ul li a{ display:block; text-transform: uppercase; font-size: 16px; color: #3b44a1; text-decoration: none; }
.contactBtn{ font-size: 14px; background: #3b44a1; color: #fff; border-radius: 5px; padding: 10px; margin-top: 6px;}
.contactBtn span{ font-size: 20px; font-weight: 700;}

.banner{position: relative; height:calc(100vh - 95px); }
.bannerText{ position: absolute; top: 50%; transform: translateY(-50%); width: 50%;}
.bannerText h1{ font-weight: 700; font-size: 60px; margin: 0;}
.bannerText a{ background: #3b44a1; color: #fff; text-decoration: none; padding: 10px 20px; display: inline-block; font-weight: 700; margin-top: 20px; font-size: 20px;}
.banner:before{ position:absolute; content: "";  right: 0; top: 0; bottom: 0; width: 50%; background-size: cover; background-position: bottom left; background-image: url(../src/img/ralph-ravi-kayden-vbSRUrNm3Ik-unsplash.png);}

.features{ background: #3b44a1; padding: 50px 0;}
.single_passion{ background-color: #fff;}
.section_tittle{ text-align: center; color: #fff; margin-bottom: 30px;}
.passion_icon{ text-align: center; font-size: 100px; color: #3b44a1;}
.single_passion_item{ text-align: center; padding: 15px;}
.btn_2{ background: #3b44a1; color: #fff; text-decoration: none; padding: 10px 20px; display: inline-block; margin-top: 15px;}

.MainHeadingBox{ background: #3b44a1; text-align: center; padding: 50px 0;}
.MainHeadingBox h1{ color: #fff;}
.pagination{ display: inline-block;}
.pagination .breadcrumb-item{ color: #fff;}
.pagination .breadcrumb-item a{ color: #cfb579; text-decoration: none;}
.breadcrumb-item+.breadcrumb-item::before{ color: #fff;}

/* About Page */
.about{ padding: 0px 0;}

.aboutContent{ margin-left: -23.5px; height: 100%; position: relative; }
.aboutContent:before{ position: absolute; content: ""; width: 70%; height: 40%; right: 0; background: url(./img/section_overlay.webp); }
.about_text{ background: #e7e7e7;padding: 15px; position: absolute; bottom: 0; width: 100%; left: 0; padding: 80px;  }
.about_text h2{ color: #3b44a1; font-weight: 700;}
.about_text ul{ margin-top: 30px; padding: 0;}
.about_text ul li{ margin: 0; padding: 0 0 0 20px; list-style: none; position: relative;}
.about_text ul li:before{ position: absolute; content: ""; width: 10px; height: 10px; left: 0; top: 5px; background:#3b44a1;}
.about_text h3{ font-size: 16px; font-weight: 700;}
.about_text a{ background: #3b44a1; color: #fff; padding: 10px 20px; text-decoration: none; margin-top: 20px; display:inline-block;}

.aboutFeature{ padding: 50px 0;}
.AboutFeatureText{ margin-bottom: 40px;}
.AboutFeatureText h2{ font-size: 30px; position: relative; display: inline-block; }
.AboutFeatureText h2::before{ position: absolute; content: ""; top: 0; bottom: 0; margin: auto 0; right:-80px; width: 70px; height: 5px; background: #3b44a1;}

/* ralph-ravi-kayden-vbSRUrNm3Ik-unsplash.jpg */
.closebtn,.barbtn{ display: none;}
@media (max-width: 767px) {
  .closebtn{ display: block; outline: none; border: none; background: #444; color:#fff; margin-top: 50px; margin-bottom: 30px; margin-left: 10px;}
  .menus{transition: .3s; display: block; position:fixed; width: 250px; right: -250px; top: 0; margin: 0; height: 100%; background: #3b44a1;}
  .menus ul li{ display: block;}
  .menus ul li a{ color: #fff;}
  .menus.active{ right: 0; }
  .bannerText h1{ font-size: 16px;}
  .contactBtn{ padding: 5px; text-align: center; margin: 3px 0 0; font-size: 12px;}
  .contactBtn span{ font-size: 11px;}
  .barbtn{  display: block; margin-top: 3px; margin-left: 15px; color: #3b44a1; border: 1px solid #3b44a1; outline: none; background-color: transparent; text-align: center; border-radius: 5px; height: 45px; width: 100%;}
  .banner{ height: auto; margin-top: 50px; padding: 50px 0; background-image: url(../src/img/mob_banner.webp); background-size: cover;}
  .banner:before{ display: none;}
  .mobileBanner{ margin-left: -.75rem; margin-right: -.75rem;}
  .bannerText{ position: relative; width: 60%;transform: translateY(0); top: 0; background-color: rgba(0, 0, 0, 0.5); color: #fff; padding: 10px; }
  .bannerText a{ font-size: 12px; padding:2px 10px; margin-top:    3px;}
  .bannerText p{ font-size: 11px; margin-bottom: 0;}
  .features{ padding: 20px 0;}
  .section_tittle{ margin-bottom: 10px;}
  .section_tittle h1{ font-size: 16px;}
  .passion_icon{ font-size: 50px;}
  .single_passion_item{ padding: 10px; margin-bottom: 15px;}
  .single_passion_item h4{ font-size: 14px; font-weight: 700;}
  .single_passion_item{ font-size: 13px;}
}
/****************Room part css**************/
/* line 3, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part {
  padding: 130px 0px 40px;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

@media (max-width: 576px) {
  /* line 3, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part {
    padding: 70px 0px 40px;
    overflow: visible;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 3, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part {
    padding: 50px 0px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 3, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part {
    padding: 70px 0px 0px;
  }
}

/* line 21, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part img {
  width: 100%;
}

/* line 24, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width: 576px) {
  /* line 24, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 24, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 24, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 42, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_1 {
  margin-top: 175px;
  position: relative;
}

@media (max-width: 576px) {
  /* line 42, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 {
    margin-top: 0px;
    margin-bottom: 225px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 42, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 {
    margin-top: 0px;
    margin-bottom: 225px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 42, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 {
    margin-top: 100px;
  }
}

/* line 59, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_1 .room_text_1 {
  padding: 40px;
  background-color: #fff;
  box-shadow: 1px 15px 30px #14303a15;
  width: 510px;
  position: absolute;
  z-index: 9;
  top: -175px;
  right: 30px;
}

@media (max-width: 576px) {
  /* line 59, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 .room_text_1 {
    width: 100%;
    top: auto;
    right: 0px;
    padding: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 59, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 .room_text_1 {
    width: 100%;
    top: auto;
    right: 0px;
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 59, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 .room_text_1 {
    width: 300px;
    z-index: 9;
    top: -100px;
    right: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 59, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 .room_text_1 {
    width: 350px;
    z-index: 9;
    top: -175px;
    right: 30px;
  }
}

/* line 92, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_1 .room_text_1 h1 {
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 576px) {
  /* line 92, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 .room_text_1 h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 92, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 .room_text_1 h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 92, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 .room_text_1 h1 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 92, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_1 .room_text_1 h1 {
    font-size: 30px;
  }
}

/* line 110, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_1 .room_text_1 .btn_2 {
  color: #797979;
  margin-left: 10px;
  margin-top: 23px;
}

/* line 114, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_1 .room_text_1 .btn_2 span {
  font-size: 12px;
}

/* line 117, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_1 .room_text_1 .btn_2:after {
  background-color: #e9eef2;
}

/* line 120, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_1 .room_text_1 .btn_2:hover {
  color: #cfb579;
}

/* line 122, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_1 .room_text_1 .btn_2:hover span {
  color: #cfb579;
}

/* line 129, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_2 {
  position: relative;
}

/* line 131, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_2 .room_text_2 {
  padding: 40px;
  background-color: #fff;
  box-shadow: 1px 15px 30px #14303a15;
  width: 510px;
  position: absolute;
  z-index: 9;
  bottom: -175px;
  left: 30px;
}

@media (max-width: 576px) {
  /* line 131, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_2 .room_text_2 {
    width: 100%;
    bottom: auto;
    left: 0px;
    padding: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 131, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_2 .room_text_2 {
    width: 100%;
    bottom: auto;
    left: 0px;
    padding: 20px;
    z-index: 99;
    position: relative;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 131, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_2 .room_text_2 {
    width: 300px;
    z-index: 9;
    bottom: -100px;
    right: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 131, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_2 .room_text_2 {
    width: 350px;
    z-index: 9;
    bottom: -175px;
    right: 30px;
  }
}

/* line 166, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_2 .room_text_2 h1 {
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 576px) {
  /* line 166, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_2 .room_text_2 h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 166, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_2 .room_text_2 h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 166, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_2 .room_text_2 h1 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 166, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
  .room_part .container-fluid .room_2 .room_text_2 h1 {
    font-size: 30px;
  }
}

/* line 184, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_2 .room_text_2 .btn_2 {
  color: #797979;
  margin-left: 10px;
  margin-top: 23px;
}

/* line 188, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_2 .room_text_2 .btn_2 span {
  font-size: 12px;
}

/* line 191, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_2 .room_text_2 .btn_2:after {
  background-color: #e9eef2;
}

/* line 194, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_2 .room_text_2 .btn_2:hover {
  color: #cfb579;
}

/* line 196, E:/161 Real estate/161_Real_state_html/sass/_room_part.scss */
.room_part .container-fluid .room_2 .room_text_2 .btn_2:hover span {
  color: #cfb579;
}



/**********************footer part css*******************/
/* line 2, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part {
  background-color: #3b44a1;
  padding: 130px 0px 25px;
}
.footerlogo{max-width: 100px;}

@media (max-width: 576px) {
  /* line 2, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part {
    padding: 70px 0px 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 2, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part {
    padding: 70px 0px 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part {
    padding: 70px 0px 25px;
  }
}

@media (max-width: 576px) {
  /* line 17, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part .single_footer_part {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 17, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part .single_footer_part {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 17, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part .single_footer_part {
    margin-bottom: 20px;
  }
}

/* line 30, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .single_footer_part h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 600;
}

@media (max-width: 576px) {
  /* line 30, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part .single_footer_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 30, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part .single_footer_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 30, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part .single_footer_part h4 {
    margin-bottom: 15px;
  }
}

/* line 48, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .single_footer_part p {
  color: #fff;
  margin-bottom: 8px;
}

/* line 53, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .single_footer_part a img {
  margin-top: 20px;
}

/* line 59, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .single_footer_part .list-unstyled li a {
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
}

/* line 63, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .single_footer_part .list-unstyled li a:hover {
  color: #cfb579 !important;
}

/* line 70, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .single_footer_part .mail_part {
  position: relative;
}

/* line 72, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .single_footer_part .mail_part input {
  padding: 8px 22px;
  font-size: 13px;
  border-radius: 50px;
  border: 2px solid #fff;
  margin-top: 20px;
  width: 100%;
}

/* line 80, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .single_footer_part .mail_part .email_icon {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 60px;
  height: 39px;
  background-color: #cfb579;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  line-height: 40px;
}

/* line 94, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part hr {
  background-color: #494d58;
  margin-top: 50px;
  margin-bottom: 25px;
}

/* line 99, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .footer_icon {
  text-align: right;
}

/* line 101, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .footer_icon li {
  display: inline-block;
}

/* line 103, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .footer_icon li a {
  font-size: 14px;
  color: #fff;
  margin-left: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 576px) {
  /* line 103, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part .footer_icon li a {
    margin-left: 0px;
    margin-right: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 103, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part .footer_icon li a {
    margin-left: 0px;
    margin-right: 25px;
  }
}

/* line 122, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .footer_icon li a :hover {
  color: #cfb579;
}

@media (max-width: 576px) {
  /* line 99, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
  .footer_part .footer_icon {
    float: left;
    margin-top: 15px;
  }
}

/* line 141, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .copyright_text p {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 144, E:/161 Real estate/161_Real_state_html/sass/_footer.scss */
.footer_part .copyright_text p a:hover {
  color: #cfb579;
}


@media (max-width: 767px) {
.room_part .container-fluid .room_2 .room_text_2{ position: relative;}
.footer_part hr{ margin-top:  0;}
}